<nav class="docs-navbar-header" aria-label="Top Toolbar">
  <div>
    <button mat-button [matMenuTriggerFor]="aboveMenu" aria-label="General menu for GPIO">
      My Gpio
    </button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item>Clear Gpio</button>
    </mat-menu>
  </div>
  <div class="flex-spacer"></div>
  <span class="version-info">Current {{ name }} build: {{ version }}</span>
  <a mat-button class="docs-button docs-navbar-hide-small" href="https://github.com/dmissud/guiMyRestGpio"
     aria-label="GitHub Repository">
    <img class="docs-angular-logo"
         src="../../../assets/img/homepage/github-circle-white-transparent.svg"
         alt="angular">
    GitHub
  </a>
</nav>
