<header class="docs-header-background"
        aria-label="Get started" id="homepage-header">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">GPIO Rest controler</h1>
      <h2>...work in progress by DBS</h2>
    </div>
  </div>
</header>

<mat-divider></mat-divider>
<div class='row'>
  <div class='col-md-4'>
    <app-gpiopins></app-gpiopins>
    <section class="form-section" [formGroup]="toppings">
      <p><mat-checkbox formControlName="fullInformation" (change)="checkChanged()">Information complète</mat-checkbox></p>
    </section>
    <section class="form-section" [formGroup]="toppings">
      <h4>You chose:</h4>
      {{toppings.value | json}}
    </section>
  </div>
</div>
